[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "isocodes"
version = "2023.01.02"
description = "This project provides lists of various ISO standards (e.g. country, language, language scripts, and currency names) in one place"
authors = [{ name = "Atem18", email = "contact@atemlire.io" }]
license = { file = "LICENSE" }
readme = "README.md"
homepage = "https://github.com/Atem18/isocodes"
repository = "https://github.com/Atem18/isocodes"
keywords = ["iso"]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
]

[project.optional-dependencies]
dev = [
    "pytest == 7.2.0",
    "mkdocs == 1.4.2",
    "mkdocs-material == 9.0.2",
    "mkdocstrings == 0.19.1",
    "black == 22.12.0",
    "mypy == 0.991",
    "tox == 4.2.6",
    "hatch == 1.6.3"
]
